.container {
  display: flex;
}

.result {
  width: 100px;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  margin: 2px;
  color: slategray;
  font-size: medium;
}